<core-block-course-blocks
  [courseId]="siteHomeId"
  [downloadEnabled]="downloadEnabled"
>
  <core-loading [hideUntil]="dataLoaded">
    <ion-list>
      <!-- Site home main contents. -->
      <ng-container *ngIf="section && section.hasContent">
        <ion-item text-wrap *ngIf="section.summary">
          <core-format-text [text]="section.summary"></core-format-text>
        </ion-item>

        <core-course-module
          *ngFor="let module of section.modules"
          [module]="module"
          [courseId]="siteHomeId"
          [downloadEnabled]="downloadEnabled"
          [section]="section"
        ></core-course-module>
      </ng-container>

      <!-- Site home items: news, categories, courses, etc. -->
      <!-- <ng-container *ngIf="items.length > 0">
                    <ion-item-divider *ngIf="section && section.hasContent"></ion-item-divider>
                    <ng-container *ngFor="let item of items">
                        <core-sitehome-all-course-list class="item" *ngIf="item == 'all-course-list'"></core-sitehome-all-course-list>
                        <core-sitehome-categories  *ngIf="item == 'categories'"></core-sitehome-categories>
                        <core-sitehome-course-search *ngIf="item == 'course-search'"></core-sitehome-course-search>
                        <core-sitehome-enrolled-course-list *ngIf="item == 'enrolled-course-list'"></core-sitehome-enrolled-course-list>
                        <core-sitehome-news *ngIf="item == 'news'"></core-sitehome-news>
                    </ng-container>
                </ng-container> -->
      <ng-container *ngIf="items.length > 0">
        <ion-col class="main-container">
          <div class="container">
          <div class="row-container" style="background-color:#83A2C1" (click)="onCategoryButtonPress(category[0].id,category[0].name)">
            <div class="column-container">
              <img
                src="https://soetliefonline.com/pluginfile.php/1/theme_school/box1image/1571830094/icon1%20%281%29.png"
                alt=""
              />
            </div>
            <div class="column-container">
              <div  style="color:white;font-size: 25px;">
                  {{category[0].name.toUpperCase()}}
              </div>
              <div
                
                style="color:white;font-size: 15px;padding-top: 2px;"
              >
                3-5 YEARS
              </div>
            </div>
          </div>
          <div class="row-container" style="background-color:#D56F78" (click)="onCategoryButtonPress(category[1].id,category[1].name)">
            <div class="column-container">
              <img
                src="https://soetliefonline.com/pluginfile.php/1/theme_school/box2image/1571830094/icon2.png"
                alt=""
              />
            </div>
            <div class="column-container">
              <div  style="color:white;font-size: 25px;">
                  {{category[1].name.toUpperCase()}}
              </div>
              <div
              
                style="color:white;font-size: 15px;padding-top: 2px;"
              >
                6-9 YEARS
              </div>
            </div>
          </div>
          <div class="row-container" style="background-color:#73B9B7" (click)="onCategoryButtonPress(category[2].id,category[2].name)">
            <div
              class="column-container"
              style="width: 90px;
            padding-top: 12px;"
            >
              <img
                src="https://soetliefonline.com/pluginfile.php/1/theme_school/box3image/1571830094/icon3.png"
                alt=""
              />
            </div>
            <div class="column-container">
              <div  style="color:white;font-size: 25px;">
                  {{category[2].name.toUpperCase()}}
              </div>
              <div  style="color:white;font-size: 15px;">
                10-12 YEARS (coming soons)
              </div>
            </div>
          </div>
        </div>

          <div class="sub-container">
            <div class="search-container">
                <div>SEARCH COURSES:</div>
                <input type="text">
                <button>Go</button>
            </div>
            <div style="padding-top: 20px;padding-bottom: 20px;">
                <img src="https://soetliefonline.com/display/legal/PGlogo.png" alt=""/>
            </div>

          </div>

        </ion-col>

      </ng-container>
    </ion-list>

    <core-empty-box
      *ngIf="!hasContent"
      icon="qr-scanner"
      [message]="'core.course.nocontentavailable' | translate"
    ></core-empty-box>
  </core-loading>
</core-block-course-blocks>
